.input {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  padding: 14px 10px;
  background-color: rgba(196, 196, 196, 0.35);
}

.small {
  height: 16px;
  width: 280px;
}

.medium {
  width: 472px;
  height: 36px;
}

.large {
  height: 40px;
  width: 590px;
  font-size: 17px;
}
