@import "~antd/dist/antd.css";
@import "./styles/variables/colors";

/* styles related to Quill */

.ql-editor {
  min-height: 14rem;
}

.ql-toolbar {
  display: flex;
  justify-content: center;
}

/* styles related to antd*/

.ant-tag-checkable-checked {
  background-color: $light-blue;
}
