.container {
  position: relative;
  display: flex;
  width: 670px;
  height: 276px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 2px 2px 23px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  /* remove the below 2 lines */
  margin-top: 16px;
  margin-left: 28px;
  /* border: 1px solid black; */
}

.post_title {
  font-size: 20px;
  /* change font font weight */
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 16px;
  max-width: 58%;
  max-height: 35%;
}

.more {
  position: absolute;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  margin-top: 16px;
  right: 18px;
}

.label {
  margin-top: 16px;
  margin-left: 16px;
}

.post_header {
  display: flex;
  width: 100%;
}

.post_body {
  position: absolute;
  left: 115px;
  top: 50px;
  width: 75%;
  height: 45%;
}

.separator {
  position: absolute;
  width: 527px;
  height: 0px;
  left: 115px;
  top: 200px;
  border-top: 1px solid #c4c4c5;
}

.post_footnote {
  position: absolute;
  display: flex;
  width: 78%;
  justify-content: space-between;
  align-items: center;
  left: 115px;
  bottom: 26px;
  /* border: 1px solid black; */
}
