.container {
  display: flex;
  align-items: center;
  background-color: white;
}

.user_name {
  font-size: 17px;
  line-height: 20px;
  color: #8c8c8c;
  margin: 0 120px 0 6px;
  background-color: white;
}
