.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
  padding: 0.35rem 0.5rem;
}

.comment,
.time {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

.comment {
  margin-left: 1.35rem;
  cursor: pointer;
}
