.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;

  .left_sidebar {
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    margin-left: 1rem;
  }
}
