.container {
  display: flex;
  align-items: center;
  padding: 10px 0.38rem;
  border-left: 0.38rem solid transparent;
}

.container:hover {
  background-color: rgba(61, 91, 240, 0.15);
  border-left: 0.38rem solid #3d5bf0;
  cursor: pointer;
}

.active {
  background-color: rgba(61, 91, 240, 0.15);
  border-left: 0.38rem solid #3d5bf0;
}

.icon {
  margin-left: 1rem;
  font-size: 1rem;
}

.label {
  margin-left: 16px;
  margin-top: 3px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
}
