.container {
  margin: 0.5rem;
  position: relative;
  width: 38.5rem;
  height: 85vh;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  overflow: scroll;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .icon {
    position: absolute;
    top: 0;
    margin-top: 0.6rem;
    cursor: pointer;

    &.back_icon {
      left: 0;
      margin-left: 0.75rem;
    }

    &.edit_icon {
      right: 0;
      margin-right: 0.75rem;
      color: #524f4f;
    }
  }

  .user {
    display: flex;
    position: absolute;
    top: 2.5rem;
    left: 3.5rem;
    width: 80%;

    .user_info {
      display: flex;
      flex-direction: column;
      margin-left: 2.75rem;
      color: #474747;

      .user_name {
        font-size: 1.8rem;
        font-weight: 600;
      }

      .user_campus {
        font-size: 0.8rem;
        font-weight: 600;
      }

      .user_stats {
        margin-top: 0.5rem;
        color: #6b6a6a;

        .stat:nth-child(2) {
          margin-left: 0.75rem;
        }
      }

      .big_icon {
        height: 0.85rem;
        margin-right: 0.25rem;
      }
    }
  }

  .action_btns {
    margin-top: 0.9rem;

    .msg_btn {
      margin-right: 0.75rem;
    }
  }

  .user_content {
    position: absolute;
    top: 14rem;
    left: 2.25rem;
    width: 90%;
  }
}
