.container {
  width: 20%;
  padding: 0.55rem;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.points {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.arrow {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.arrow:first-of-type {
  margin-top: 16px;
}
