.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 16.5rem;
  height: 15.25rem;
  background: rgba(255, 255, 255);
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 40px 0;
}

.heading {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 1.07rem;
  font-weight: 700;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.stats {
  width: 91%;
  background-color: transparent;
}
