@import "./src/styles/variables/font";
@import "./src/styles/variables/colors";
@import "./src/styles/variables/general";

.container {
  .header {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0.85rem;

    .selector {
      padding: 0.2rem;
      width: 40%;
      background-color: $light-grey;
      border: 5px solid transparent;
      border-radius: $normal-border-radius;
    }
  }

  .content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39.4rem;
    height: 36.5rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0.28rem;
    padding: 0 0.8rem;
  }

  .title_section {
    display: flex;
    justify-content: center;
    margin: 0.75rem 0;

    .title_input {
      border: none;
      outline: none;
      width: 28rem;
      font-size: $medium;
      background: $light-grey;
      color: $dark-grey;
      padding: 0.4rem 0.55rem;
      border-top-left-radius: $normal-border-radius;
      border-bottom-left-radius: $normal-border-radius;
    }

    .remaining_chars {
      width: fit-content;
      padding: 0.4rem 0.55rem;
      background: $light-grey;
      color: $dark-grey;
      border-top-right-radius: $normal-border-radius;
      border-bottom-right-radius: $normal-border-radius;
    }
  }

  .body {
    width: 32.2rem;
    max-height: 18rem;
    margin-top: 1.5rem;
  }

  .post_labels {
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    .label {
      margin-right: 2rem;
    }
  }

  .options {
    display: flex;
    align-items: center;
    padding: 0.35rem 0;
  }
}
